<section class="page" id="contact">
	<section class="map" id="map-wrapper"><div id="map" data-map="{{ page.contact.get_field("address") }}"></div></section>
	<section class="description">
		<div>
			<h1>{{ page.contact.title }}</h1>
			{{ page.contact.content }}
		</diV>
	</section>
</section>
