<section class="page" id="restaurant">
	<header>
		<h1 class="vcenter"><img src="{{site.theme.link}}/static/gfx/logo.png" alt="Trentaquattro" title="Trentaquattro" /></h1>
	</header>
	<section class="content">
		<div class="picture"><img src="{{site.theme.link}}/static/gfx/bruschetta.png" alt="Bruschetta" /></div>
		<div class="text">
			<h1>{{ post.title }}</h1>
			{{ post.content }}
			<p><a href="mailto:info@tentraquattro.be" class="btn">Réserver</a></p>
		</div>
	</section>
</section>
