<section class="page" id="room">
	<header>
		<h1 class="vcenter">{{ page.room.title }}</h1>
	</header>
	<section class="content">
		<div class="text">
			{{ page.room.content }}
			<p><a href="mailto:info@trentaquattro.be" class="btn">Réserver</a></p>
		</div>
		<div class="picture">
			<img src="{{site.theme.link}}/static/gfx/coffee.png" alt="Notre salle" />
		</div>
	</section>
</section>
