{% extends 'layouts/base.twig' %}

{% block content %}
<section class="page" id="room">
	<header>
		<h1 class="vcenter">{{ post.title }}</h1>
	</header>
	<section class="content">
		<div class="text">
			{{ post.content }}
			<p><a href="#" class="btn">Réserver</a></p>
		</div>
		<div class="picture">
			<img src="{{site.theme.link}}/static/gfx/coffee.png" alt="Notre salle" />
		</div>
	</section>
</section>
{% endblock %}
