{% extends "layouts/base.twig" %}

{% block htmlBody %}
	<body class="{{body_class}}" {% block bodyAttributes %}{% endblock %}>
		Sorry, we couldn't find what you're looking for.
	</body>
{% endblock %}